<!DOCTYPE html>
<html>
  <head>
    <title>Rails7StripeSaas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <%= link_to 'Posts', posts_path %>
    <% if signed_in? %>
      <hr>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= current_user.stripe_customer_id %>
      <%= current_user.plan %>
      <%= current_user.subscription_status %>
      <%= current_user.subscription_ends_at %>
      <%= current_user.active? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
      <hr>
      <%= link_to 'Pricing', pricing_path %>
      <%= button_to 'Billing portal', stripe_billing_portal_path, data: { turbo: "false" } %>
    <% else %>
      <hr>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
